#container
{
	margin: 0 30px;
	background-image: url(d8f3192f544fc69ddec0a5fa52df850b.jpg);
}

#header
{
	background-color:antiquewhite;
	padding: 20px;
    
}

#header h1 { margin: 0; color:cadetblue}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
    
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
    color:cadetblue;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#faebd7), to(#e1d3c1));
	background-image: -webkit-linear-gradient(left,#faebd7,#e1d3c1);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.85;
    color:cadetblue;
    
}

#edito h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
    color:cadetblue;
}

#news
{	
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
background-image: -webkit-gradient(linear, left top, right top, from(#faebd7), to(#e1d3c1));
	background-image: -webkit-linear-gradient(left,#faebd7,#e1d3c1);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.85;
    color:cadetblue;
    
}

#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
    background-color: rgba(0,0,0,0.5);
    color:cadetblue;
}
